body {
    background-color: #e3f2fd;
	display: block; 
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}

#post-image {
	display: block; 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
}

#titleImage {
	display: block; 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
    height: 12em;
}

#titleImageHome {
	display: block; 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
    height: 25em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.post-text-white {
	font-size: 1.1em;
}

header {
    width: 100%;
    height: 25em;
    background: #e3f2fd;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-image: url('/background11.jpg'); 
	z-index: 0;
}

@media(max-height: 500px) {
    header {
        height: 10em;
    }
}

.footer{
    background-color: #375AE5;
    height: 10em;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

#section-latest {
    background-color: #e3f2fd;
    padding-top: 2em;
    padding-bottom: 2em;
}

#section-about {
    background-color: #9BB4EE;
    padding-top: 2em;
    padding-bottom: 2em;
}

#section-subscribe {
	background-color: #e3f2fd;
	color: navy;
    padding-top: 2em;
    padding-bottom: 2em;
}

.content-section {
    background: #93BAFF;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: white;
    padding: 0;
    margin: 1em;
}

.content-section-latest {
    background: #93BAFF;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: white;
    padding: 0;
    margin: 1em;
}


.article-abstand {
    padding: 10px 20px;
    border-radius: 3px;
}

.article-title {
    color: navy;
}

a.article-title:hover {
    color: white;
    text-decoration: none;
}

.article-content {
 white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3

}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-metadata-bottom {
    padding-top: 1px;
    margin-top: 4px;
    border-top: 1px solid #e3e3e3
}

.article-metadata-top {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3

}

article a {
    color: navy;
}


article a:hover {
    color: white;
    text-decoration: none;
}

aside a:hover {
    color: orangered;
    text-decoration: none;
}

article img {
    width: 100%;
	padding: 0;
}

.topic {
    background-color: #3254A4;
    color: white;
    border: 1px solid white;
	align-items: center;
	margin-top: 0.5em;
}


.content {
    background-color: #CBD9FB;
    border: 1px solid navy;
    border-top-color: transparent;
    color: navy;
	padding: 10px;
}

.content-drop {
	display: none;
	border: 1px solid white;
}

.ex0 {
    margin-left: 5px;
    float: right;

}

input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    resize: vertical;
}

.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

@media screen and (max-width: 600px) {
    .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.toggler {
    width: 0px;
    height: 0px;
    float: right;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-left: 15px solid transparent;
	border-bottom: 15px solid transparent;
	margin-right: 0.2em;
	margin-top: 0.1em;
}

.toggler2 {
    width: 0px;
    height: 0px;
    float: right;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.center1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container {
 	margin-top: 2em;
 	margin-bottom: 2em;
}

.easeOut {
	zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0;
}

.ease-in {
	zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}


.header-image {
	display: block;
	background-image: url('/angular.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity 3s ease-in-out;
}

.header-image2 {
	display: block;
	background-image: url('/python.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity 3s ease-in-out;
}

.header-image3 {
	display: block;
	background-image: url('/angular.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity 3s ease-in-out;
}

.overlay-box {
	width: 100%;
    height: 25em;
}

.overlay-box {
	position: absolute;
	width: 100%;
    height: 25em;
}

.title-box {
	font-weight:bold; 
	top: 0; 
	left: 0; 
	position: absolute; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	width: 100%; 
}

.title-box-box {
	opacity: 0.8;
	background-color: grey; 
	width: 100%;  
	display: flex; 
	justify-content: center; 
	align-items: center; 
	z-index:0;

}



.blog-title {
	font-size: 4em;
 	color: white;
	opacity: 4;
	z-index: 6;
}

.blog-subtitle {
	font-size: 2.5em;
 	color: white;
  	opacity: 1;
}

#crossfade > div { 

	display: block;
	background-image: url('/angular.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
    height: 25em;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}


#crossfade > div:nth-child(2)  { 

	display: block;
	background-image: url('/java.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > div:nth-child(3) { 

    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > div:nth-child(4) { 

	display: block;
	background-image: url('/python.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > div:nth-child(5) { 

	display: block;
	background-image: url('/react.png'); 
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

