<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="base.html :: head"></head>
<body>
<div th:replace="base.html :: basetop"></div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Kategorie auswählen:</h5>

            <form th:action="@{/posts/all/refresh}" th:object="${categoryDto}" method="post">
                <select th:field="*{id}">
                    <option th:text="'Alle Kategorien'" th:value="0"></option>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                </select>
                <p><br>
                    <button type="submit">Aktualisieren</button>
                </p>
            </form>
			<hr>
		</div>
    </div>

    <h2>Beiträge</h2>
                        <div class="row">
                            <article class="media content-section-latest col-xl-3 col-md-5" th:each="post : ${posts}">
                                <div class="media-body">
									<a th:href="@{/posts/detail/{slug}(slug=${post.slug})}">
									<div id="titleImage"
									style="height: 400px; overflow:hidden; align-content: center;" 
									  th:style="'background-image: url(' + @{/images/{id}(id=${post.image.id})} + ')'">
										</div></a>
                                    <div class="article-abstand">
                                    <h2><a class="article-title" th:text="${post.title}" th:href="@{/posts/detail/{slug}(slug=${post.slug})}"></a></h2>
                                    <p class="article-content font-size post-text-white" th:utext="${#strings.abbreviate(post.text, 150)}"></p>
                                    <div class="article-metadata-bottom">
                                        <a class="mr-2" href="#" th:text="${post.user.userName}"></a>
                                        <small th:text="${#temporals.format((post.postedAt), 'dd. MMMM yyyy HH:mm')}"></small>
                                <p>
                                    <small th:each="category : ${post.categories}">
										<a  th:href="@{/posts/all/category(id=${category.id})}"><i th:text="${category.name}">Marvel</i></a>
									</small>
                                    
                                   
                                </p>
                                    </div>
                                    </div>
                                </div>
                            </article>

                        </div>
</div>


<div th:replace="base.html :: basebottom"></div>
</body>
</html>