
    <head th:fragment="head">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8" />
			
		
			<title th:if="${post == null}">Fabians und Peters Blog</title>
			<meta th:if="${post == null}" name="description" content="Fabians und Peters Blog - Programmieren, Java, Spring uvm.">
			<meta th:if="${post == null}" property="og:title" content="Fabians und Peters Blog">
			<meta th:if="${post == null}" property="og:description" content="Fabians und Peters Blog - Programmieren, Java, Spring uvm.">
			<meta th:if="${post == null}" property="og:url" content="https://www.talentschmiede.org">
			<script src="/js/tinymce/js/tinymce/tinymce.min.js"></script>
			<script>tinymce.init({selector:'textarea'});</script>
		
		
		
		
			<title th:text="${post?.title}"></title>
			<meta name="description" content="Fabians und Peters Blog - Programmieren, Java, Spring uvm.">
			<meta property="og:title" content="Fabians und Peters Blog">
			<meta property="og:description" content="Fabians und Peters Blog - Programmieren, Java, Spring uvm.">
			<meta th:if="${post != null}" property="og:url" th:content="'https://www.talentschmiede.org' + @{/posts/detail/{slug}(slug=${post.slug})}">
			<meta property="og:image:width" content="1200" />
			<meta property="og:image:height" content="640" />
			<meta th:if="${post != null}" property="og:image" th:content="'https://www.talentschmiede.org/' + @{images/{id}(id=${post.image.id})}">
		

    </head>

    <body>
    <sitetop th:fragment="basetop">
        <header>
			  <div id= "crossfade">
				<div class = "overlay-box"></div>
				<div class = "overlay-box" ></div>
				<div class = "overlay-box"></div>
				<div class = "overlay-box"></div>
				<div class = "overlay-box"></div>
			</div>

			<div class="title-box" style="height: 25em;">
				<div class="title-box-box">
					<h1 class= "blog-title">Fabians und Peters Blog!</h1>

				</div>

			
			</div>
   		</header>
        <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark" style="background-color: #375AE5" id="myNavBar">
            <a class="navbar-brand" th:href="@{/}">Born to Code</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/impressum}">Impressum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#section-about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/posts/all}">Alle Beiträge</a>
				</li>
				<span sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adminbereich
					</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/categories}">Kategorien</a>
                    <a class="dropdown-item" th:href="@{/user/all}">Nutzer</a>
                </div>
				</li>
				</span>
                </ul>
				<div class="navbar-collapse">
	       			<ul class="navbar-nav ml-auto">
						<span sec:authorize="hasRole('ROLE_ADMIN')">
						   <li><a class="nav-item nav-link" th:href="@{/posts/newpost}">Neuer Post</a></li>
						</span>
						<span sec:authorize="isAuthenticated()">
						 <li><a class="nav-item nav-link" th:href="@{/user/{username}(username=${principal.name})}">Profil</a></li>
						</span>
	                 	<span sec:authorize="isAuthenticated()">
	                 	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
							<input hidden type="submit" value="logout">
						</form>
						<li><a class="nav-item nav-link" href="javascript: document.logoutForm.submit()">Logout</a></li>
	                 	</span>
	                 	<span sec:authorize="!isAuthenticated()">
	                 		<li><a class="nav-item nav-link" th:href="@{/login}">Login</a></li>
	                 	</span>
	                </ul>
                </div>
            </div>
        </nav>
        </sitetop>
        
  <sitebottom th:fragment="basebottom">
          <footer class="footer">
            <div>
                <ul>Mitarbeiter
					<li>Peter</li>
					<li>Fabian</li>
				</ul>
            </div>
            <div>
                  <ul>Adresse
					<li>Hinter den Bergen 7</li>
					<li>333777 Prinzessinnenstadt</li>
				</ul>
            </div>
      
            <div>
                <ul>Besucht uns auf
					<li>Facebook</li>
					<li>Twitter</li>
					<li>GitLab</li>
				</ul>
            </div>
        </footer>

    
	<script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </sitebottom>
</html>