<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="base.html :: head"></head>
<body>
<div th:replace="base.html :: basetop"></div>


<h1>Categories</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Kategorien verwalten</h5>

            <ul>
                <li th:each="cat : ${categories}"><span th:text="${cat.name}"></span><a
                        th:href="@{/categories/delete(id=${cat.id})}"> > Kategorie löschen</a></li>
            </ul>


            <form th:object="${categoryDto}" th:action="@{/categories/add}" method="post">
                <span>Neue Kategorie: </span><input type="text" th:field="*{name}" class="form-control"><br/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <button type="submit" class="btn btn-sm">Kategorie hinzufügen</button>
            </form>


        </div>
    </div>
</div>


<div th:replace="base.html :: basebottom"></div>
</body>
</html>