<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org">

<head th:replace="base.html :: head">



</head>
   	<body>
   		<div th:replace="base.html :: basetop"></div> 
 
    
    
    
	    <section id="section-latest">
            <div class="container">
                <div class="row">
                    <div class="col-md 12">
                        <h2>Latest Posts</h2>
                        <div class="row">
                            <article class="media content-section-latest col-xl-5 col-md-5" th:each="post : ${latestPosts}">
                                <div class="media-body">
									<a th:href="@{/posts/detail/{slug}(slug=${post.slug})}">
									<div id="titleImageHome"
									style="height: 400px; overflow:hidden; align-content: center;" 
									  th:style="'background-image: url(' + @{/images/{id}(id=${post.image.id})} + ')'">
										
										</div></a>
								
                                    <div class="article-abstand">
                                    <h2><a class="article-title" th:text="${post.title}" th:href="@{/posts/detail/{slug}(slug=${post.slug})}"></a></h2>
                                    <p class="article-content font-size post-text-white" th:utext="${#strings.abbreviate(post.text, 150)}"></p>
                                    <div class="article-metadata-bottom">
                                        <a class="mr-2" href="#" th:text="${post.user.userName}"></a>
                                        <small th:text="${#temporals.format((post.postedAt), 'dd. MMMM yyyy HH:mm')}"></small>
                                <p>
                                    <small th:each="category : ${post.categories}">
										<a  th:href="@{/posts/all/category(id=${category.id})}"><i th:text="${category.name}">Marvel</i></a>
									</small>
                                    
                                   
                                </p>
                                    </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                   
                </div>
            </div>
        </section>

        <section id="section-about" style="padding-top: 4em; padding-bottom: 4em;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="topic" id="about-head">
                            <h2 >Über uns! <span class="toggler" id="togglerOne"></span></h2>
                        </div>
                        <div class="content content-drop" id="about" style="border: 1px solid white;">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="topic" id="jobs-head">
                            <h2 >Unsere Stellenangebote <span class="toggler" id="togglerTwo"></span></h2>
                        </div>
                        <div class="content content-drop" id="jobs" style="border: 1px solid white;">
                            <ul>
                                <li>Webdesigner</li>
                                <li>Java-Entwickler</li>
                                <li>Angular-Spezialist</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Subscribe to our Service!</h2>
                        <br>
                        <div>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name: </label>
                                        <input type="text" class="form-control input-sm" id="name" placeholder="Hier Ihren Namen eingeben.">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-Mail: </label>
                                        <input type="email" class="form-control input-sm" id="email" placeholder="Hier Ihre E-Mail-Adresse eingeben.">
                                    </div>
                                    <button type="submit" class="btn btn-primary" onclick="subscribe()">Absenden</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<div th:replace="base.html :: basebottom"></div>
    </body>
 </html>