<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base.html :: head"></head>
   	<body>
   		<div th:replace="base.html :: basetop"></div>

<body>

	<div class="container">
		<div class="row">

		
		
		<div id="loginbox" style="margin-top: 50px;"
			class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
			
		


				<div style="padding-top: 30px">

					<!-- Login Form -->
					<form th:action="@{/athenticateTheUser}" method="post" class="form-horizontal">

					    <!-- Place for messages: error, alert etc ... -->
					    <div class="form-group">
					        <div class="col-xs-15">
					            <div>
									
				
									<div th:if="${param.error != null}" class="alert alert-danger col-xs-offset-1 col-xs-10">
										Invalid username and password.
									</div>
								
									
						            
									<div th:if="${param.logout != null}" class="alert alert-success col-xs-offset-1 col-xs-10">
										You have been logged out.
									</div>
						

					            </div>
					        </div>
					    </div>

						<!-- User name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
							
							<input type="text" name="username" placeholder="username" class="form-control">
						</div>

						<!-- Password -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
							
							<input type="password" name="password" placeholder="password" class="form-control" >
						</div>
						<div class="form-group">
							<label>
								<input id="remember-me"
										name="remember-me"
										type="checkbox"/> Angemeldet bleiben
							</label>
                         </div>
                    
						<!-- Login/Submit Button -->
						<div style="margin-top: 10px" class="form-group">						
							<div class="col-sm-6 controls">
								<button type="submit" class="btn btn-success">Login</button>
							</div>
							
						</div>
						<div>     
								<a th:href="@{/register/registrationform}"
									class="btn btn-primary"
									role="button" aria-pressed="true">        
									Als neuer Nutzer registrieren  
								</a> 
							</div> 

					</form>

				</div>

			</div>

		</div>
	</div>

</div>

<div th:replace="base.html :: basebottom"></div>
</html>