<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>

<head th:replace="base.html :: head">
</head>
<body>
<div th:replace="base.html :: basetop"></div>

<div class="container" th:style="'background-image: url(' + @{/images/{id}(id=${post.image.id})} + ')'" id="post-image">
    <div class="row">
        <div class="col-md-10">


			<article class="media content-section" style="border: solid 1px navy">
				<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" th:text="${post.user.userName}" th:href="@{/user/{username}(username=${post.user.userName})}"></a>
					<small th:text="${#temporals.format((post.postedAt), 'dd. MMMM yyyy HH:mm')}"></small>
					
					<span sec:authorize="isAuthenticated()">
					<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${post.user.userName == principal.name}">
						 <form style="display: inline" th:action="@{/posts/detail/{slug}/edit(slug=${post.slug})}">
							<button type="submit" class="btn btn-secondary btn-sm mt-1 mb-1">Update</button>
						</form>

						<form style="display: inline" th:action="@{/posts/delete(postId=${post.id})}" method="post">
							<button type="submit" class="btn btn-danger btn-sm mt-1 mb-1">Delete</button>
						</form>
						<form style="display: inline" th:action="@{/posts/detail/{slug}/postlog(slug=${post.slug})}" method="get">
							<button type="submit" class="btn btn-primary btn-sm mt-1 mb-1">Logs</button>
						</form>
					</div>
					</span>
				</div>
				<h1 class="article-title" th:text="${post.title}"></h1>
				<p class="article-content post-text-white" style="padding-left: 10px;" th:utext="${post.text}"></p>
				</div>
			</article>
		</div>
	</div>

				
				<div class="row">
					<div class="col-md-6">
						<div th:each="comment : ${comments}">
							
							<form th:action="@{/posts/detail/{slug}/{commentId}/deletecomment(slug=${post.slug}, commentId=${comment.id})}"
							th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${comment.user.userName == principal.name}"
								method="post">
								<button class="btn btn-sm btn-danger" type="submit">Kommentar löschen</button>
							
						<article class="media content-section" style="border: solid 1px navy">
							<div class="media-body">
							<div class="article-metadata">
								<span  th:text="${comment.user.userName}">
							</span><span style="float: right;" th:text="${#temporals.format((comment.postedAt), 'dd. MMMM yyyy HH:mm')}"></span>
							</div>
							<p class="article-content" th:text="${comment.text}"></p>
							</div>
						</article>
							</form>
						</div>
					</div>
				</div>

				
				<span sec:authorize="isAuthenticated()">
				<div class="col-md-6">
				<article style="color: navy">
					<h3>Kommentar verfassen</h3>
					<form th:object="${commentDto}" 
						  th:action="@{/posts/detail/{slug}/savecomment(slug=${post.slug})}"
						  method="post" 
						  class="post-form">
                 <div> <textarea name="text" th:field="*{text}" cols="40" rows="10" class="textarea form-control">
				</textarea> </div>
						<p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
						<button type="submit" class="save btn btn-primary">Abschicken</button>
					</form>
				</article>
				</div>
				</span>


		</div>


<div th:replace="base.html :: basebottom"></div>
</body>
</html>