<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="base.html :: head"></head>
   	<body>
		<div th:replace="base.html :: basetop"></div>
		   <div class="container">
			   <div class="row">
				   <div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
							<th scope="col">Änderungsdatum</th>
							<th scope="col">Alte Version</th>
							<th scope="col">Neue Version</th>
							<th scope="col">geändert von</th>
							</tr>
						</thead>
						<tbody th:each=" log : ${postLogs}">
							<tr>
							<td th:text="${#temporals.format(log.changedAt, 'dd-MM-yyyy HH:mm')}">Mark</td>
							<td th:text="${log.old}"></td >
							<td th:text="${log.updated}"></td>
							<td ><a th:href="@{/user/{username}(username=${log.user.userName})}" th:text="${log.user.userName}"></a></td>
							</tr>
						</tbody>
						</table>
				   </div>
			   </div>
		   </div>
		  
			</div>
		   
		
		

	<div th:replace="base.html :: basebottom"></div>
	</body>
	
 </html>

