<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="base.html :: head"></head>
<body>
<div th:replace="base.html :: basetop"></div>


<h1>Post bearbeiten</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Bild ändern</h5>
            <img th:src="@{/images/{id}(id=${postDto.image.id})}" class="img-fluid" style="max-height: 350px" alt="${post.title}">
            <form th:object="${file}" th:action="@{/file/submitpost/{id}(id=${postDto.id})}"
                  method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <button type="submit">Bild hochladen</button>
			</form>
		</div>
		<div class="col-md-10">
            <h5>Post bearbeiten</h5>
            <form th:object="${postDto}" th:action="@{/posts/detail/{slug}/update(slug=${slug})}" class="form-group"
                  method="post">
                Titel: <input type="text" th:field="*{title}" class="form-control"><br/>
				<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
					Text: <textarea id="full-featured" th:field="*{text}" class="form-control" rows="20" cols="40"></textarea>
					<p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                Kategorie (Mehrfachauswahl möglich):
                <select th:field="*{categories}" multiple="multiple" class="form-control">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select>
				<button type="submit">Eintrag ändern</button>
            </form>
        </div>
    </div>
</div>


<div th:replace="base.html :: basebottom"></div>
</body>
</html>