<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base.html :: head"></head>
   	<body>
   		<div th:replace="base.html :: basetop"></div>


<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Neuen Beitrag anlegen</h1>
			<form th:object="${postDto}" th:action="@{/posts/save}" method="post">
				Titel*: <input type="text" th:field="*{title}" class="form-control"><br/>
				<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
				Text*: <textarea id="full-featured" th:field="*{text}" class="form-control" rows="20"></textarea>
				<p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
				Kategorie (Mehrfachauswahl möglich):
				<select th:field="*{categories}" multiple="multiple" class="form-control">
					<option th:each="category : ${categories}"
							th:value="${category.id}"
							th:text="${category.name}"></option>
				</select>
				<button type="submit">Eintrag speichern</button>
			</form>


		</div>
	</div>
</div>



		<div th:replace="base.html :: basebottom"></div>
    </body>
 </html>