<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base.html :: head"></head>
   		<div th:replace="base.html :: basetop"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6">


		<h1>Registration</h1>

					<!-- Registration Form -->
					<form 	th:object="${userRegistrationDto}"
							th:action="@{/register/submit}" 
							class="form-horizontal" method="post">


						<!-- User name -->
						<div style="margin-bottom: 25px" class="input-group">
							<input  name="userName" placeholder="username (*)" class="form-control" />
							<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
							<span th:text="${registrationError != null} ? ${registrationError} : ''"></span>
						</div>

						<!-- Password -->
						<div style="margin-bottom: 25px" class="input-group">
							
							
							<input type="password" name="password" placeholder="password (*)" class="form-control" />
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
						</div>
						
						
						<!-- Confirm Password -->
						<div style="margin-bottom: 25px" class="input-group">
							
							<input type="password" name="matchingPassword" 
							placeholder="Passwort bestätigen (*)" class="form-control" />
							<span th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></span>
						
						</div>
					
						<!-- Register Button -->
						<div style="margin-top: 10px" class="form-group">						
							<div class="col-sm-6 controls">
								<button type="submit" class="btn btn-primary">Absenden</button>
							</div>
						</div>
						
					</form>
				</div>
		</div>
	</div>

				

	<div th:replace="base.html :: basebottom"></div>
</html>