<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="base.html :: head"></head>
<body>
<div th:replace="base.html :: basetop"></div>


<h1>Post</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">

			<div th:each="image : ${images}">
				<a th:href="@{/images/{id}(id=${image.id})}"><span th:text="${image.fileName}"></span></a>
				<img th:src="@{http://localhost:8080/images/{id}(id=${image.id})}">
			</div>

			<form th:object="${file}" th:action="@{/file/submit}"
					method="post"
					enctype="multipart/form-data">
				<input type="file" name="file" accept="image/*">
				<button type="submit">Datei hochladen</button>
			</form>
            </div>


        </div>
    </div>



<div th:replace="base.html :: basebottom"></div>
</body>
</html>