<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org">

<head th:replace="base.html :: head"></head>
   	<body>
		<div th:replace="base.html :: basetop"></div>
		   <div class="container">
			   <div class="row">
				   <div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
							<th scope="col">#</th>
							<th scope="col">Benutzername</th>
							<th scope="col">E-Mail</th>
							<th scope="col">Rolle</th>
							</tr>
						</thead>
						<tbody th:each=" user : ${users}">
							<tr>
							<td th:text="${user.id}">Mark</td>
							<td>
								<span th:if="${user.image}">
									<img th:src="@{/user/images/{id}(id=${user.image.id})}"  height="42" width="42">
								</span>
								<a th:href="@{/user/{userName}(userName=${user.userName})}">
									<span th:text="${user.userName}"></span>
								</a>
							</td>
							<td th:text="${user.email}">@mdo</td>
							<td><span th:each="role : ${user.roles}">
									<span th:text="${role.name}"></span>
								</span></td>
							</tr>
						</tbody>
						</table>
				   </div>
			   </div>
			      <div class="row">
				<div class="col-md-3">
					<h3>Rolle hinzufügen</h3>
				    <form th:object="${role}" th:action="@{/user/add-role}" method="post">
						<input type="text" th:field="*{name}" class="form-control">
					<button type="submit" class="btn btn-success">Rolle eintragen</button>
				</form>
			   </div>
		   </div>
		  
			</div>
		   
		
		

	<div th:replace="base.html :: basebottom"></div>
	</body>
	
 </html>