<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org">

<head th:replace="base.html :: head"></head>
   	<body>
		<div th:replace="base.html :: basetop"></div>
		   <div class="container">
			   <div class="row">
				<div class="col-md-6">
				   
					<div th:object="${user}">
						<h2 th:text="'Nutzer: ' + ${user.userName}"></h2>
						<span th:if="${user.image}">
							<div>
								<img th:src="@{/user/images/{id}(id=${user.image.id})}" class="img-fluid" style="max-height: 350px">
							</div>
						</span>
						<br>
						E-Mail: <span th:text="${user.email}"></span>
					</div>
				<br>
				<hr>
				<span sec:authorize="isAuthenticated()">
                	<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${user.userName == principal.name}">
					<h5>Profilbild anlegen</h5>
					<form th:object="${file}" th:action="@{/file/submitprofile/{id}(id=${user.id})}"
							method="post"
							enctype="multipart/form-data">
						<input type="file" name="file" accept="image/*">
						<button type="submit">Bild hochladen</button>
					</form>

					<h5>Nutzer ändern</h5>
					<form th:object="${user}" th:action="@{/user/submit}" method="post">
						<input type="text" th:field="*{userName}" hidden>    
						<p>E-Mail:<br> <input type="text" th:field="*{email}"></p>  
						<select th:field="*{roles}" multiple="multiple">
						<option th:each="role : ${roles}" 
								th:value="${role.id}" 
								th:text="${role.name}"></option>
						</select>         
						<p><input class="btn btn-success" type="submit"></p>   
					</form>
					<br>
					<hr>
					<h3 th:text="${user.userName} + 's Beiträge'"></h3><h3></h3>
					<p >
						<div style="background: navy; color: white; margin-top: 1em; border: 2px solid white;" 
							th:each="post : ${posts}">
							<a th:href="@{/posts/detail/{slug}(slug=${post.slug})}"
								style="color:aliceblue; text-decoration: none;"
							
							><span th:text="${post.title}" style="margin-left: 1em"></span></a><span style="float: right; margin-right: 1em" 
							th:text="${#temporals.format((post.postedAt), 'dd. MMMM yyyy HH:mm')}"></span></div>
					</p>
				</div>
			</span>

			   	</div>
		   	</div>
		</div>

	<div th:replace="base.html :: basebottom"></div>
	</body>
	
 </html>